{% load static %}
<footer class="footer">
    <a href="{% url 'index' %}">
        <img class="small-logo" src="{% static 'purchases/img/logotipoWhite.svg' %}" alt="Ir al inicio">
    </a>
    <nav class="social-media">
        <a href="https://facebook.com/100Ladrillos" target="_blank" rel="noopener noreferrer" title="Facebook"><i class="fab fa-facebook-f" alt="Facebook"></i></a>
        <a href="https://www.instagram.com/100ladrillos" target="_blank" rel="noopener noreferrer" title="Instagram"><i class="fab fa-instagram" alt="Instagram"></i></a>
        <a href="https://www.linkedin.com/company/100ladrillos" target="_blank" rel="noopener noreferrer" title="LinkedIn"><i class="fab fa-linkedin" alt="LinkedIn"></i></a>
        <a href="https://twitter.com/100ladrillos" target="_blank" rel="noopener noreferrer" title="Twitter"><i class="fab fa-twitter" alt="Twitter"></i></a>
    </nav>
</footer>